<mat-card class="comment-card">
  <div class="comment-header">
    <!-- User avatar and name -->
    <div class="user-details">
      <a class="username" [href]="comment.user.homepage" target="_blank">{{ comment.user.username }}</a>
      <span class="timestamp">{{ comment.createdAt | date: 'MMM d, y, h:mm a' }}</span>

      <!-- Email and homepage -->
      <div class="user-contact">
        <a class="email" [href]="'mailto:' + comment.user.email">{{ comment.user.email }}</a>
        <a class="homepage" [href]="comment.user.homepage" target="_blank">Visit Homepage</a>
      </div>
    </div>
  </div>

  <mat-card-content>
    <p>{{ comment.text }}</p>

    <div *ngIf="comment.file" class="file-attachment">
      <ng-template [ngIf]="comment.file.endsWith('.txt')" [ngIfElse]="elseBlock">
        <a [href]="comment.file" download> <mat-icon>attachment</mat-icon> Download Attachment</a>
      </ng-template>
      <ng-template #elseBlock>
        <img [src]="comment.file"  alt="image"/>
      </ng-template>


    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button color="primary" class="action-btn">
      <mat-icon>reply</mat-icon> Reply
    </button>
  </mat-card-actions>
</mat-card>
