
<app-notification class="myAlert">qweweqqweqweqweqweqwe</app-notification>

<app-comment-form></app-comment-form>

<div class="container my-5">
  <div class="comments">
    <h5>Comments (3)</h5>

    <div class="comments-list">
      <app-comment
        *ngFor="let comment of commentsList"
        [comment]="comment">
      </app-comment>
    </div>
  </div>

  <mat-paginator [length]="totalComments"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="onPageChange($event)"
  class="pagination"
  >
  </mat-paginator>
</div>


